<div class="ui-g">
  <div class="ui-g-9">
    <p *ngIf="errorMessage">{{errorMessage}}</p>
    <p-dataList [value]="pizzas">
      <p-header>Pizzas</p-header>
      <template let-p pTemplate="item">
        <div class="ui-grid" style="padding: 20px;">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12"><strong>{{p.name}}</strong></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              PICTURE
            </div>
            <div class="ui-grid-col-9">
              <button *ngFor="let ing of p.ingredients" class="ui-button-secondary" pButton type="button" label="{{ing.name}}" pTooltip="{{ing.description}}" tooltipPosition="top"></button>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-9"></div>
            <div class="ui-grid-col-3">
              <div style="float: right;">
              {{p.price | currency: 'EUR'}}
              <input #quantity type="number" maxlength="2" min="1" max="9" size="1" value="1" pattern="[1-9]{1}" />
              <button (click)="addToCart(p, quantity.value)"><i class="fa fa-plus" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </template>
    </p-dataList>
  </div>
  <div class="ui-g-3">
    <shopping-cart></shopping-cart>
  </div>
</div>