<p-dialog [(visible)]="show" modal="true" width="350">
  <p-header>Login</p-header>
    <form (ngSubmit)="login()" #f="ngForm">
      <div class="ui-g">
        <div class="ui-g-3">
          <label for="pw">E-Mail:</label>
        </div>
        <div class="ui-g-9">
          <input type="email" pInputText required placeholder="email" name="email" [(ngModel)]="email" />
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-3">
          <label for="pw">Password:</label>
        </div>
        <div class="ui-g-9">
          <input type="password" pInputText required placeholder="password" id="pw" name="pw" [(ngModel)]="pw" />
        </div>
      </div>
      <button type="submit" [disabled]="!f.form.valid">submit</button>
      <label *ngIf="lerror">Login failed</label>
    </form>
</p-dialog>
