<!-- TODO later: customize class nav nav-tabs -->
<div class="col-md-8 col-md-offset-2">
  <tabset>
    <tab [active]="tabs[0].active" (select)="tabs[0].active = true; tabs[1].active = false" heading="your order" class="t">
      <table class="table">
        <tr>
          <th>Pizza</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let o of orders">
          <td>{{o.pizza.name}}</td>
          <td>{{o.quantity}}x{{o.pizza.price | currency: 'EUR'}}</td>
          <td>{{o.quantity * o.pizza.price | currency:'EUR'}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Total: {{total | currency: 'EUR'}}</td>
        </tr>
      </table>
      <button routerLink="/pizza"><span class="glyphicon glyphicon-chevron-left"></span>back</button>
      <button (click)="switchTabs()">next<span class="glyphicon glyphicon-chevron-right"></span></button>
    </tab>
    <tab [disabled]="tabs[1].disabled" [active]="tabs[1].active" (select)="tabs[1].active = true; tabs[0].active = false" heading="delivery information">
      <form (ngSubmit)="orderNow()" #f="ngForm">
         <div class="form-group">
           <label for="firstname">firstname:</label>
           <input type="text" class="form-control" id="firstname" required [(ngModel)]="customer.firstname" name="firstname" />
         </div>
         <div class="form-group">
           <label for="lastname">lastname:</label>
           <input type="text" class="form-control" id="lastname" required [(ngModel)]="customer.lastname" name="lastname" />
         </div>
         <div class="form-group">
           <label for="street">street:</label>
           <input type="text" class="form-control" id="street" required [(ngModel)]="customer.street" name="street" />
         </div>
         <div class="form-group">
           <label for="housenumber">number:</label>
           <input type="number" class="form-control" id="housenumber" required [(ngModel)]="customer.housenumber" name="housenumber" />
         </div>
         <div class="form-group">
           <label for="zip">zip:</label>
           <input type="text" class="form-control" id="zip" required [(ngModel)]="customer.zip" name="zip" />
         </div>
         <div class="form-group">
           <label for="city">city:</label>
           <input type="text" class="form-control" id="city" required [(ngModel)]="customer.city" name="city" />
         </div>
         <div class="form-group">
           <label for="phone">phone:</label>
           <input type="tel" class="form-control" id="phone" required [(ngModel)]="customer.phone" name="phone" />
         </div>
         <div class="form-group">
           <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="register" name="register" />
              register?
            </label>
           </div>
         </div>
         <div *ngIf="register">
          <app-register></app-register>
         </div>
         <button formnovalidate type="button" (click)="switchTabs()"><span class="glyphicon glyphicon-chevron-left"></span>back</button>
         <button type="submit" [disabled]="!f.form.valid">submit</button>
        </form>
    </tab>
  </tabset>
</div>
