<!-- TODO later: customize class nav nav-tabs -->
<div class="col-md-8 col-md-offset-2">
  <tabset>
    <tab [active]="tabs[0].active" (select)="tabs[0].active = true; tabs[1].active = false" heading="your order" class="t">
      <table class="table">
        <tr>
          <th>Pizza</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let o of orders">
          <td>{{o.pizza.name}}</td>
          <td>{{o.quantity}}x{{o.pizza.price | currency: 'EUR'}}</td>
          <td>{{o.quantity * o.pizza.price | currency:'EUR'}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Total: {{total | currency: 'EUR'}}</td>
        </tr>
      </table>
      <button routerLink="/pizza"><span class="glyphicon glyphicon-chevron-left"></span>back</button>
      <button (click)="switchTabs()">next<span class="glyphicon glyphicon-chevron-right"></span></button>
    </tab>
    <tab [disabled]="tabs[1].disabled" [active]="tabs[1].active" (select)="tabs[1].active = true; tabs[0].active = false" heading="delivery information">
      <form (ngSubmit)="orderNow()" #f="ngForm">
        <app-customer></app-customer>
         <div class="form-group" *ngIf="expression">
           <div class="checkbox">
            <label>
              <input type="checkbox" [(ngModel)]="register" name="register" />
              register?
            </label>
           </div>
         </div>
         <div *ngIf="register">
          <app-register></app-register>
         </div>
         <button formnovalidate type="button" (click)="switchTabs()"><span class="glyphicon glyphicon-chevron-left"></span>back</button>
         <button type="submit" [disabled]="!f.form.valid">submit</button>
        </form>
    </tab>
  </tabset>
</div>
