<p-messages [value]="msgs"></p-messages>
<div class="ui-g" *ngIf="!done">
  <div class="ui-g-6">
    <p-steps [model]="steps" [(activeIndex)]="active"></p-steps>
    <div *ngIf="active == 0">
      <p-dataTable [value]="orders">
        <p-column field="pizza.name" header="Pizza"></p-column>
        <p-column header="Price">
          <template let-o="rowData" pTemplate="body">
            {{o.quantity}}x{{o.pizza.price | currency: 'EUR'}}
          </template>
        </p-column>
        <p-column header="Total">
          <template let-o="rowData" pTemplate="body">
            {{o.quantity * o.pizza.price | currency:'EUR'}}
          </template>
        </p-column>
        <p-footer>Total: {{total | currency: 'EUR'}}</p-footer>
      </p-dataTable>
      <button pButton routerLink="/pizza" label="back" icon="fa-chevron-left"></button>
      <button pButton (click)="active = 1" label="next" icon="fa-chevron-right" iconPos="right"></button>
    </div>
    <div *ngIf="active == 1">
      <form (ngSubmit)="nextPage()">
        <app-customer></app-customer>
        <div class="ui-grid" *ngIf="!loggedIn()">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <p-checkbox [(ngModel)]="register" label="register?" name="register" binary="true"></p-checkbox>
            </div>
          </div>
        </div>
        <div *ngIf="register">
          <app-register></app-register>
        </div>
        <div class="ui-grid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <button pButton formnovalidate type="button" (click)="active = 0" label="back" icon="fa-chevron-left"></button>
              <button pButton type="submit" label="next" icon="fa-chevron-right" iconPos="right"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="active == 2">
      <form (ngSubmit)="orderNow()">
        todo summary...
        <button pButton formnovalidate type="button" (click)="active = 1" label="back" icon="fa-chevron-left"></button>
        <button pButton type="submit" label="order now"></button>
      </form>
    </div>
  </div>
</div>